{% extends 'pages/base.html' %}
{% load static %}


{% block index %}


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
      <h1>Chris Mulaba</h1>
      <h2>I'm English tutor from kinshasa DRC</h2>
      <a href="about.html" class="btn-about">About</a>
    </div>
  </section><!-- End Hero -->

  <!-- ======= Footer ======= -->
  {% endblock  %}